@media (min-width:1200) {
    .img-fluid{
       width: 250px;
      margin-top: 12px;
    }
    .header{
        height: 80px;
        
}
    
    .buybtn{
        margin-top: 12px;
        font-weight:500;
        /* padding: 12px; */
       
    }
}

    

@media (min-width:200px) and (max-width:992px) {
    .job-search-submit{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color:#232a79;
        align-items: center;
        color: white;
        width: 100%; 
        max-width: 400px !important;
        margin: 0 auto;
    }
    .glass-icon{
        margin-bottom: 10px;
        font-weight: 500;
    }
    .bg-primary {
    --bs-bg-opacity: 1;
    background-color: none;
}
    
}
@media (min-width:200px) and (max-width:992px) {
        .scroll-down{
        width: 130px;
        height: 130px;
        border: 2px solid #fff;
        border-radius: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        }
        .scroll-down i{
            font-size: 30px;
            background-color: #ffffff;
            color: #fb236a;
            border-radius: 50px;
            padding: 17px;
            height: 60px;
            width: 60px;
        }
        .down-button:hover{
            background-color: #fb236a;
            color: white;
        }
        .scroll-down:hover{
        border-color: #fb236a;
        }
    }      
    
    
    
    @media (max-width: 992px) {
    .col-12{
        justify-content: center;
        align-items:center ; 

}
    .display-btn{
        padding-top: 70px;
    }
 }
